<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>红色文创与教育产品</title>

<meta content="红色-会宁" name="keywords" />

<meta content="红色-会宁" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>


<!--header开始--> 

<div class="header"> 
	<div class="w1000">
    	<p>您好，欢迎来到会宁红色数字传承与创新平台！</p>
        <div class="contact"><a href="index.html">设为首页</a> <a href="index.html">加入收藏</a></div>
	</div>
</div>
	
	
<div class="w1000">
	<div class="header_bottom">
			<a href="../index.html"><img src="../images/logo.png" width="100" height="140" alt="" title="红色-会宁"></a>
       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="redculture.html">红色文化</a></li>     

                <li><a href="comunication.html">互动学习</a></li>           

                <li><a href="virtualtours.html">虚拟体验</a></li>
				
				<li><a href="creativeproduct.html">红色文创与教育产品</a></li>
				
				<li><a href="communitypoints.html">文化社区与积分兑换</a></li>

     		</ul>  

    </div>       

</div>


<!--header结束--> 

<div class="container"> 		

	<!--banner开始-->
	<div class="banner_erji">
    	<img src="../images/edu.png" width="1000" height="220" alt="" title="">
    </div>
	<!--banner结束--> 

	<!--content开始-->
	<div class="content clearfix">
		<div class="rightbar">
			<div class="gallery">

				<div class="row">
					<div class="cell">
						<img src="../images/3333.png" width="450" height="300" alt="图1">
					</div>
					<div class="cell">
						<img src="../images/222.png" width="450" height="300" alt="图2">
					</div>
				</div>

				<div class="row">
					<div class="cell">
						<img src="../images/图片11.jpg" width="450" height="300" alt="图3">
					</div>
					<div class="cell">
						<img src="../images/huining.png" width="450" height="300" alt="图4">
					</div>
				</div>

				<div class="row full-text">
					<div class="cell">
						<p class="custom-text">
							“1936年6月，中共中央根据国内时局的演变和夺取宁夏、扩大陕甘根据地的需要，作出了红军三大主力在会宁会师的战略决策。会宁北临靖远，是红军会师休整、北进发动‘宁夏战役’的最佳地域。”伏晓春介绍说，毛泽东在陕北保安讨论红军三大主力会师的地点时讲道，红一、二、四方面军会合是件大事，三大主力会合的地点一定要慎重考虑，要选择一个好地方。
						</p>
						<p class="custom-text">
							当时，周恩来建议放在会宁，这一主张当即得到毛泽东的赞同。他高兴地说：“会宁、会宁，红军会师，中国安宁……建议就在会宁会师。”9月13日，党中央和中革军委及时制定了“静会战役计划”。根据计划确定的任务，9月14日，红一方面军右路纵队十五军团73师进占会宁打拉池（现属白银平川区）地区，一部直插会宁县北部的郭城驿、宋家河畔，切断了会宁通往靖远的道路，使驻守两县的敌军失去了联系。
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div> <!-- 缺失的 container 结束标签 -->

<!-- footer 开始 -->
<div class="footer">
  <p>
    <a href="../index.html">网站首页</a> |
    <a href="redculture.html">红色文化</a> |
    <a href="comunication.html">互动学习</a> |
    <a href="virtualtours.html">虚拟体验</a> |
    <a href="creativeproduct.html">红色文创与教育产品</a> |
    <a href="communitypoints.html">文化社区与积分兑换</a>
  </p>
  <p>© 2025 会宁红色数字传承与创新平台 | 保留所有权利</p>
</div>
<!-- footer 结束 -->

</body>

</html>

