<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>红色文化</title>

<meta content="红色-会宁" name="keywords" />

<meta content="红色-会宁" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>

<!--header开始--> 

<div class="header"> 
	<div class="w1000">
    	<p>您好，欢迎来到会宁红色数字传承与创新平台！</p>
        <div class="contact"><a href="index.html">设为首页</a> <a href="index.html">加入收藏</a></div>
	</div>
</div>
	
	
<div class="w1000">
	<div class="header_bottom">
			<a href="../index.html"><img src="../images/huining.png" width="180" height="100" alt="" title="红色-会宁"></a>
       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="redculture.html">红色文化</a></li>     

                <li><a href="comunication.html">互动学习</a></li>           

                <li><a href="virtualtours.html">虚拟体验</a></li>
				
				<li><a href="creativeproduct.html">红色文创与教育产品</a></li>
				
				<li><a href="communitypoints.html">文化社区与积分兑换</a></li>

     		</ul>  

    </div>       

</div>


<!--header结束--> 
	
<div class="container"> 		

		<!--banner-->

		<div class="banner_erji">

        	<img src="../images/banner_erji3.jpg" width="1000" height="187" alt="" title="">        </div>

		<!--banner end--> 

		

		<!--content-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>必吃美食</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="redculture.html">风味小吃</a></h3>

</li>

        

        <li><h3><a href="redculture1.html">特色菜</a></h3>
		
</li>

        

         	</ul>

                 
              </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：陕西西安</p>

                      <p>联系人：Jack Yeng</p>

                      <p>电话：184****3468</p>

                      <p>QQ邮箱：2535568432@qq.com</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> >风味小吃</div>

            	<ul class="ul_zj clearfix">
 
           	<li>

                    	<a href="#"><img src="../images/d058ccbf6c81800a0ddb2b83b13533fa828b4704.jpg" width="220" height="140"><span>肉夹馍</span></a>                  </li>
           	<li>

                    	<a href="#"><img src="../images/0dd7912397dda1447836ce3fb2b7d0a20cf48604.jpg" width="220" height="140"><span>凉皮</span></a>                  </li>
           	<li>
                    	<a href="#"><img src="../images/a71ea8d3fd1f41348a31a7f3251f95cad1c85e3c.jpg" width="220" height="140"><span>裤带面</span></a>                  </li>
           	<li>
                    	<a href="#"><img src="../images/94cad1c8a786c91731850b92c83d70cf3ac75792.jpg" width="220" height="140"><span>甑糕</span></a>                  </li>
           	<li>
                    	<a href="#"><img src="../images/622762d0f703918f605d6561503d269758eec489.jpg" width="220" height="140"><span>羊肉泡馍</span></a>                  </li>
           	<li>
                    	<a href="#"><img src="../images/c995d143ad4bd1130dcdec995bafa40f4bfb051c.jpg" width="220" height="140"><span>玫瑰镜糕</span></a>                  </li>
           	<li>
                    	<a href="#"><img src="../images/8b82b9014a90f603e74dd9ec3812b31bb151ed98.jpg" width="220" height="140"><span>臊子面</span></a>                  </li>	
		    <li>
                    	<a href="#"><img src="../images/a71ea8d3fd1f41348a31a7f3251f95cad1c85e3i.jpg" width="220" height="140"><span>西安锅盔</span></a>                  </li>
			<li>
                    	<a href="#"><img src="../images/a71ea8d3fd1f41348a31a7f3251f95cad1c85e3m.jpg" width="220" height="140"><span>油茶麻花</span></a>                  </li>

                </ul>

                <div class="paging"></div>

            </div>

        </div>

		<!--content end--> 

</div>

<!-- footer 开始 -->
<div class="footer">
  <p>
    <a href="../index.html">网站首页</a> |
    <a href="redculture.html">红色文化</a> |
    <a href="comunication.html">互动学习</a> |
    <a href="virtualtours.html">虚拟体验</a> |
    <a href="creativeproduct.html">红色文创与教育产品</a> |
    <a href="communitypoints.html">文化社区与积分兑换</a>
  </p>
  <p>© 2025 会宁红色数字传承与创新平台 | 保留所有权利</p>
</div>
<!-- footer 结束 -->
	
</body>

</html>

