<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>虚拟体验</title>

<meta content="红色-会宁" name="keywords" />

<meta content="红色-会宁" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>

<!--header开始--> 

<div class="header"> 
	<div class="w1000">
    	<p>您好，欢迎来到会宁红色数字传承与创新平台！</p>
        <div class="contact"><a href="index.html">设为首页</a> <a href="index.html">加入收藏</a></div>
	</div>
</div>
	
	
<div class="w1000">
	<div class="header_bottom">
			<a href="../index.html"><img src="../images/logo.png" width="100" height="140" alt="" title="红色-会宁"></a>
       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="redculture.html">红色文化</a></li>     

                <li><a href="comunication.html">互动学习</a></li>           

                <li><a href="virtualtours.html">虚拟体验</a></li>
				
				<li><a href="creativeproduct.html">红色文创与教育产品</a></li>
				
				<li><a href="communitypoints.html">文化社区与积分兑换</a></li>

     		</ul>  

    </div>       

</div>


<!--header结束--> 
<div class="container">

  <!--banner-->
  <div class="banner_erji">
    <img src="../images/ar.png" width="1000" height="187" alt="" title="">
  </div>
  <!--banner end--> 

  <!--content-->
  <div class="content clearfix">

<div class="rightbar">

  <!-- 左上：图片1 -->
  <div class="quadrant">
    <img src="../images/图片7.png" alt="会宁红军会师旧址">
  </div>

  <!-- 右上：介绍1 -->
  <div class="quadrant">
    <p><strong>会宁红军烈士陵园：</strong>会宁红军烈士陵园位于甘肃省白银市会宁县中川镇大墩村，始建于1986年。以纪念1936年10月23日在这里同国民第3军、第37军激烈战斗中壮烈牺牲的中国工农红军四方面军第五军副军长罗南辉和887名红军指战员而修建的红军烈士陵园。 后被国务院批准确定为第六批国家级烈士纪念设施保护单位。也是甘肃省爱国主义教育基地。</p>
  </div>

  <!-- 左下：图片2 -->
  <div class="quadrant">
    <img src="../images/vr.png" alt="红军长征胜利景园">
  </div>

  <!-- 右下：介绍2 -->
  <div class="quadrant">
    <p><strong>AR 虚拟祭扫系统：</strong>联合会宁县烈士陵园管理处，为烈士墓建立数字档案，
用户通过手机扫描墓碑二维码（或在平台搜索姓名），可查看烈士生平、战斗事迹，
触发3D 墓碑献花（可选菊花、映山红等5 种虚拟花束）、留言追思、VR 陵园漫游（支
持夜间祭扫模式）功能，每年清明、烈士纪念日推出限时“云端公祭”活动，实时显
示全国祭扫人数动态。</p>
  </div>

</div>

  </div>
  <!--content end--> 

</div>



<!-- footer 开始 -->
<div class="footer">
  <p>
    <a href="../index.html">网站首页</a> |
    <a href="redculture.html">红色文化</a> |
    <a href="comunication.html">互动学习</a> |
    <a href="virtualtours.html">虚拟体验</a> |
    <a href="creativeproduct.html">红色文创与教育产品</a> |
    <a href="communitypoints.html">文化社区与积分兑换</a>
  </p>
  <p>© 2025 会宁红色数字传承与创新平台 | 保留所有权利</p>
</div>
<!-- footer 结束 -->
</body>

</html>

